@use "containers";
@use "varbiles" as v;
@use "mixins";
main {
  h2 {
    text-align: center;
  }
  .aboutuss {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    align-items: center;
    text-align: center;
    margin: 5px;
    
    @include mixins.desktop {
      @include mixins.tablet {
      width: auto;
      height: auto;
      }
      width: auto;
      height: auto;
      flex-direction: row;
      justify-content: space-around;
      display: grid;
      grid-template-columns: auto auto;
      grid-template-rows: auto auto;
      gap: 20px;
    }
    .aboutuss-picture {
      width: 200px;
      height: auto;
      }
    }
    .aboutuss-picture img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
    .picture-text {
      p {
        color: black;
        background-color: darkgray;
        border-radius: 5px;
        padding: 15px;
        text-align: center;
        color: black;
      }
    }
}

